/* CSS Document
Autor: Edy Segura - edy@liveware.com.br, edy@segura.eti.br
Descrição: Definições da index.html
*/

label {
	display:block;
}

div.botoes {
	margin-top:10px;
}

div.botoes
input {
	width:80px;
	border-width:1px;
	font-weight:bold;
}